<h1 class="my-6 text-4xl font-bold text-gray-700"> Categories List</h1>
<div class= "my-4">

    <%= link_to "Create New", new_admins_category_path %>

</div>
    <table class="table-auto w-full">
        <thead class="bg-gray-400 uppercase">
            <tr>
                <th class="px-3 py-6 text-left" > Name </th>
                <th class="px-3 py-6 text-center"> Action </th>
            </tr>
        </thead>
        <tbody class="text-sm font-light">
        <% @categories.each do |c| %>
            <tr class="border-b bg-gray-100 hover:bg-gray-200">
                <td class = "px-3 py-6"> <%= c.name %> </td>
                <td class= "px-3 py-6"> 
                    <%= link_to "Show", admins_category_path(c) %> 
                    <%= link_to "Delete", admins_category_path(c), method: :delete %> 
                </td>

            </tr>
        <% end %>
        </tbody>
    </table>